*{
    margin: 0;
    padding: 0;
}

.grupo{
    display: flex;
    flex-direction: column;
}
.cabecalho {
    background-color: rgb(81, 255, 0);
    color: rgb(11, 55, 112);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu a {
    color:white;
    text-decoration: none;
    margin-left: 15px;
}
.navegacao {
    background-color: rgb(15, 99, 209);
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.navegacao ul {
    list-style: none;
    padding:0;
}
.navecao li {
    margin-bottom: 10px;
}

.secao {
    background-color: chocolate;
}

.rodape {
    background-color: rgb(224, 13, 136);
}